/* This will load Tailwindcss + all the overwrite from Yearn lib */
@import '@yearn-finance/web-lib/dist/style.next.css';

/* 🔵 - Yearn Finance ******************************************************
** Shorthand for some group of style used across the application
**************************************************************************/
.component--deltaSelector-wrapper {
	@apply flex flex-row items-center space-x-1 md:space-x-2;
}
.component--deltaSelector-base {
	@apply flex justify-center items-center cursor-pointer py-4 px-4 w-14 h-14 rounded-lg border transition-colors;
}
.component--switchCard-wrapper {
	@apply flex flex-row justify-between p-2 space-x-2 w-full cursor-pointer md:p-0 md:space-x-6 md:w-max
}

.flex-row-center {@apply flex flex-row items-center;}
.flex-row-start {@apply flex flex-row items-start;}
.flex-col-start {@apply flex flex-col items-start;}
.flex-col-full {@apply flex flex-col w-full h-full;}


:root,
:root body[data-theme="light"] {
	--default-rounded: 0rem;
	font-family: 'Aeonik', sans-serif;

	& .yearn--searchBox-wrapper {
		@apply border-neutral-200 border;
	}
	& .yearn--button {
		@apply px-5 h-10;

		&[data-variant="filled"] {
			@apply text-neutral-0 bg-neutral-900 font-normal;
			&:disabled {@apply bg-neutral-700 opacity-40;}
			&:not(:disabled):not([aria-busy="true"]):hover {@apply bg-neutral-800;}
		}
	}

	& .yearn--input {
		@apply space-y-1;
		& .yearn--input-field-wrapper {
			@apply border border-neutral-600 p-2 text-base text-neutral-900 h-10;
		}

		& .yearn--input-field {
			@apply text-base text-neutral-900 font-normal;
		}
	}

	& .yearn--modal-overlay {
		@apply bg-neutral-900/90;
	}

	& .yearn--card {
		&[data-variant="background"] {@apply bg-neutral-100;}
		&[data-padding="relaxed"] {@apply p-8;}
	}

}





/* 🔵 - Yearn Finance ******************************************************
** Buyback specific
**************************************************************************/
.md-adapted-height {
	height: calc(100vh - 54px);
}

.grid-row {
	@apply grid grid-cols-22 w-max md:w-full py-3 px-6 h-16 relative mb-0.5;
}
.row-3 {
	@apply flex col-span-3;
}
.row-4 {
	@apply flex col-span-4;
}


@screen md {
	.md-adapted-height {
		@apply h-full;
	}

	.adapted-height {
		height: calc(100vh - 328px);
	}
}

.goUp0 {
	opacity: 0;
	animation: goUpAnimation0 2s, fadeOut 2s;
}

@keyframes goUpAnimation0 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(0px, -400px);
	}
}

.goUp1 {
	opacity: 0;
	animation: goUpAnimation1 2s, fadeOut 2s;
}

@keyframes goUpAnimation1 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(0px, -300px);
	}
}

.goUp2 {
	opacity: 0;
	animation: goUpAnimation2 2s, fadeOut 2s;
}

@keyframes goUpAnimation2 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(0px, -200px);
	}
}

.leftRight0 {
	animation: leftRightAnimation0 0.3s alternate infinite ease-in-out;
}

@keyframes leftRightAnimation0 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(50px, 0px);
	}
}

.leftRight1 {
	animation: leftRightAnimation1 0.3s alternate infinite ease-in-out;
}

@keyframes leftRightAnimation1 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(100px, 0px);
	}
}

.leftRight2 {
	animation: leftRightAnimation2 0.3s alternate infinite ease-in-out;
}

@keyframes leftRightAnimation2 {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(-50px, 0px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wordWrapper {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.word {
	@apply absolute text-neutral-900 font-bold text-5xl md:text-8xl uppercase text-center flex justify-center items-center;
	width: 600px;
	opacity: 0;
}
.letter {
	display: inline-block;
	position: relative;
	float: left;
	transform: translateZ(25px);
	transform-origin: 50% 50% 25px;
}
.letter.out {
	transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
	transform: rotateX(-90deg);
}
.letter.in {
	transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}